.searchSection {
  margin: 10rem auto;
  padding: 0 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.searchContainer {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80rem;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.searchContainer:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.04);
}

.searchIcon {
  width: 4rem;
  height: 4rem;
  color: #555;
}

.input {
  width: 100%;
  font-size: 1.8rem;
  color: #555;
  font-family: inherit;
  border: none;
}

.input:focus {
  border: none;
  outline: none;
}

.closeIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeIcon {
  height: 4rem;
  width: 4rem;
  color: #333;
  padding: 2px;
}

.closeIcon:hover {
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
}

.dataResults {
  text-align: start;
  padding: 1rem 0;
  margin-top: 0.5rem;
  max-height: 20rem;
  width: 60rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2rem 2rem 1rem rgba(0, 0, 0, 0.05);

  overflow: auto;
  position: absolute;
  top: 16rem;
}

.dataResults::-webkit-scrollbar {
  display: none;
}

.companyLink:link,
.companyLink:visited {
  text-decoration: none;
  padding: 0.3rem 3.2rem;
  color: #555;
}

.companyLink:hover,
.companyLink:active {
  background-color: #eee;
}

/* ***************** */
/* RESPONSIVE SCREEN */
/* ***************** */

/* Bellow 1000px */
@media (max-width: 1000px) {
  .searchContainer {
    width: 60rem;
  }

  .searchSection {
    margin: 7rem auto;
  }
}

/* Bellow 670px */
@media (max-width: 670px) {
  .searchContainer {
    width: 35rem;
  }
  .dataResults {
    max-width: 35rem;
  }
}
