.searchContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  border: 1px solid #999;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  font-size: 2.4rem;
  margin: 1rem;
  margin-left: 2rem;
}

.inputCompany {
  padding: 1rem;
  margin-right: 2rem;
  border: none;
  width: 52rem;
  font-family: inherit;
  color: #555;
  font-size: 1.6rem;
}

.inputCompany:focus {
  /* border: 1px solid #cfb5bb; */
  outline: none;
}
