/* 
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24
30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8
- Letter Spacing
-0.5px
0.75px
 
--- 02 COLORS
- Primary: #5f071c
- Tints: #6f2033 #7f3949 #8f5160 #9f6a77 #af838e #bf9ca4 #cfb5bb #dfcdd2 #efe6e8
- Shades: #560619 #4c0616 #430514 #390411 #30040e #26030b #1d0208
- Grays: #333 #555 #6f6f6f #888
--- 03 IMAGES
--- 04 ICONS
--- 05 SHADOWS
  0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
--- 06 BORDER-RADIUS
Default: 8px
Medium: 11px
--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* percentage of user's browser font size settings */
  font-size: 62.5%;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: #555;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*********************************/
/*  GENERAL REUSABLE COMPONENTS  */
/*********************************/
.container_ {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section_ {
  margin: 4.8rem auto;
}

.test {
  background-color: #e67e22;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

strong {
  font-weight: 500;
}

.main-btn {
  color: #fff;
  background-color: #5f071c;
  font-size: 1.8rem;
  line-height: 1;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
}

.main-btn:hover {
  background-color: #7f3949;
  cursor: pointer;
}

/* ******* */
/* SPECIAL */
/* ******* */
.sm-margin {
  margin-bottom: 4.6rem;
}

/* ******** */
/* QUERIES */
/* ******** */

/* Bellow 1035px */
@media (max-width: 1035px) {
  .heading-primary {
    font-size: 4.8rem;
  }
  html {
    /* 9px / 16px = 0.5625 */
    font-size: 56.25%;
  }
}

/* Bellow 1000px */
@media (max-width: 1000px) {
  html {
    /* 8px / 16px = 0.5*/
    font-size: 50%;
  }
  .heading-primary {
    font-size: 4.2rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
}
